.navbar {
  background: linear-gradient(10deg, rgb(178, 0, 255) 0%, rgba(21, 0, 255, 1) 100%);
}

.nav a{
  color: white;
  font-size: 20px;
  margin: 0 15px 0 15px;
}

.botao-submit {
  background-color: white !important;
  color: rgb(178, 0, 255) !important;
  margin: 0 !important;
}

.botao-submit:hover {
  background-color: rgb(178, 0, 255) !important;
  color: white !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}